@using CarBill.vm;
@model List<ourBillsVm>

<h2 style="margin-bottom: 50px;">الفواتير السابقة...</h2>


<table class="table table-hover" style="margin-bottom: 400px;">
    <thead>
        <tr class="table-warning">
            <th scope="col">اسم السائق</th>
            <th scope="col">رقم لوحة السيارة</th>
            <th scope="col">نسبة الخصم</th>
            <th scope="col">اجمالي الفاتورة</th>
            <th scope="col">اخر قراءة عداد</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="font-size: 14px;">@item.driverName</td>
            <td>@item.plateNum</td>
            <td>% @item.discount</td>
            <td>@item.totalPrice</td>
            <td>@item.lastReading</td>
        </tr>
        }
    </tbody>
</table>